<div class="content" role="main">

  <!-- Highlight Card -->
    <nav>
      <ul>
        <li><a href="" [routerLink]="['/dashboard']">Dashboard</a></li>
        <li><a href="" [routerLink]=""></a></li>
      </ul>
    </nav>
     <table border="1" cellpadding="1" cellspacing="1" style="margin-top: -2.0em">
       <tr>
        <td>
          <a [routerLink]="['/heroes']" >
          <img src="../../../assets/images/th.jpeg" />
        </a>
        </td>
        <td>AND</td>
        <td>
          <a routerLink="/villians" >
           <img src="../../../assets/images/download.jpeg"/>
          </a>
        </td>
       </tr>
     </table>
</div>